<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GETEMAILINFOTIKTOK</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2 class="h2">Email info in tiktok</h2>
    <div class="warrper">
        <form action="/info" method="POST">
            <input name="email" class="email" placeholder="enter email" required>
            <button name="btn" class="btn" type="submit">GET</button>
        </form>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>