<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Info</title>
    <link rel="stylesheet" href="/static/ntro.css">
</head>
<body>
    <div class="warrper">
        <h2 class="h2">TikTok Account Info</h2>
        <div class="info-item">
            <span class="label">Username:</span>
            <span class="value">{{data.username}}</span>
        </div>

        <div class="info-item">
            <span class="label">Has Mobile:</span>
            <span class="value">{{data.has_mobile}}</span>
        </div>

        <div class="info-item">
            <span class="label">Has OAuth:</span>
            <span class="value">{{data.has_outh}}</span>
        </div>

        <div class="info-item">
            <span class="label">Platforms:</span>
            <span class="value">{{data.platforms}}</span>
        </div>

        <div class="info-item">
            <span class="label">Has Password:</span>
            <span class="value">{{data.has_pas}}</span>
        </div>
    </div>

    <script src="/static/atro.js"></script>
</body>
</html>
